table[type*="filter"] input[type="radio"]{
    float: left;
    margin-top: 6px;
}
table[type*="filter"] div.text{
    line-height: 24px;
    float: left;
}
table[type*="filter"] div.count{
    border: solid 1px #000000;
    width: 100px;
    line-height: 24px;
    float: left;
    height: 24px;
    background-color: #FFFFFF;
}
table[type*="filter"] div.space{
    width: 5px;
    height: 24px;
    border: none;
    float: left;
}
table[type*="filter"] div.wide{
    width: 10px;
}
table[type*="filter"] input[type="text"].count{
    width: 65px;
    border-style: none;
    background: none;
    padding: 0;
    margin: 0;
}
table[type*="filter"] input[type="text"].hide{
    display: none;
}
table[type*="filter"] input[type="text"].def{
    color: #c0c0c0;
}

table[type*="filter"] div.multipleShell{
    float: left;
    min-width: 217px;
    height: 24px;
}
table[type*="filter"] div.multipleCount{
    float: left;
    background: #f0fff0;
    min-width: 217px;
    max-height: 24px;
    border: solid 1px #000000;
    z-index: 2;
    overflow-y: hidden;
    position: relative;
}
table[type="filter disabled"] div.text{
    color: #c0c0c0;
}
table[type="filter disabled"] div.count{
    border: solid 1px #C0c0c0;
    color: #c0c0c0;
}
table[type="filter disabled"] input[type="text"].count{
    color: #c0c0c0;
}
table[type="filter disabled"] div.multipleCount{
    border: solid 1px #C0c0c0;
    color: #c0c0c0;
}
table[type="filter enabled"] div.multipleCount:hover{
    overflow-y: visible;
    max-height: none;
}

div[type^="option"]{
    line-height: 24px;
    padding: 0 10px;
    text-align: left;
    border-top: dotted 1px #c0c0c0;
    display: flex;
}
div[type="option selected"]{
    background: #c3e5c3;
}
div[type^="option"]:hover{
    background: #d9ecd9;
    cursor: pointer;
}
div[type^="option"].noSelect:hover{
    background: #d9ecd9;
    cursor: auto;
}