.main-button{
    text-decoration: underline;
    cursor: pointer;
}
.small-font{
    font-size: 8pt;
}
.small-font > a{
    font-size: 8pt;
    text-decoration: none;
}
.empty-advert{
    background-color: #f6e5e5;
}

table.padding{
    border-collapse: collapse;
}
table.padding td {
    padding: 2px 5px 2px 5px;
    border: solid 2px white;
}
table.no-border td{
    border: 0 none;
}

#ao_thread-window > table tr.row-indent{
    height: 28px;
}
#ao_thread-window > table tr.row-indent td:first-child{
    text-indent: 10px;
}