table.tabs {
    width: 98%;
    border-style: none;
    border-collapse: collapse;
    margin-top: 10px;
}
table.mainTable {
    width: 98%;
    border-style: none;
    border-collapse: collapse;
}
td.tabTop {
    height: 5px;
}
td.tabTopActive{
    border: solid #339933 1px;
    border-bottom-style: none;
    background-color: #f0fff0;
}
td.tab{
    font-weight: bold;
    height: 25px;
    width: 160px;
    border: solid #339933 1px;
    text-align: center;
    background-color: #d0efd0;
    cursor: pointer;
}
td.tab:hover{
    background-color: #defadc;
}
td.tab.tabActive{
    border-top-style: none;
    border-bottom-style: none;
    background-color: #f0fff0;
}
td.tabBegin-End{
    border-bottom: solid #339933 1px;
}
td.tabContent{
    width: 99%;
    border: solid #339933 1px;
    border-top-style: none;
    background-color: #f0fff0;
}
tr.tabRow{
    display: table-row;
}
tr.tabRowHide{
    display: none;
}
div.tab{
    margin: auto;
    width: 1835px;
    height: 100%;
}
div.header{
    margin-top: 15px;
}
div.content{
    height: 559px;
    overflow-y: scroll;
}

.windows{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    margin: auto;
}

.window-content{
    margin: 20px 25px;
    background-color: #f0fff0;
}
table[type="padding"]{
    border-collapse: collapse;
}
table[type="padding"] tr[type="no-b-top"] td{
    border-top-style: none;
}
table[type="padding"] tr[type="no-b-bottom"] td{
    border-bottom-style: none;
}
table[type="padding"] td {
    padding: 2px 5px 2px 5px;
    border: solid 2px white;
}
table.no-border td{
    border: 0 none;
}

tr.light div[type="checkbox"]{
    margin: auto;
    width: 13px;
    height: 13px;
}
tr.light input[type="checkbox"]{
    display: none;
}
tr.light{
    background-color: #d8e8d8;
}
tr.checked{
    background-color: #c7dfc7;
}
tr.light:hover{
    background-color: #beccbe;
}
tr[type="header"] {
    background-color: #d0eed0;
    font-weight: bold;
}
tr[type="header"] td{
    text-align: center;
}
tr[type="filters"]{
    background-color: #d0eed0;
    height: 28px;
}

td[sort] > img{
    float: right;
}
td[sort], td[filter]{
    cursor: pointer;
}
td[sort]:hover, td[filter]:hover{
    background-color: #cae1ca;
}
td.a-item{
    text-indent: 5px;
}
td.a-item > a{
    text-decoration: none;
    font-weight: bold;
}
#sf_shadowLayer{
    position: absolute;
    width: 0;
    height: 0;
    z-index: 1;
    background-color: #000000;
    left: 0;
    top: 0;
    opacity: 0.7;
    cursor: pointer;
}

#sf_statusWindow > table{
    width: 650px;
    margin: 20px 25px;
    background-color: #f0fff0;
}

div[type="window"]{
    position: absolute;
    z-index: 2;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px black;
}
div.center-screen{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input[type="button"]{
    font-weight: 500;
    font-family: Verdana;
    background-color: rgb(208,238,208);
    font-size: 10px;
    height: 20px;
}
input[type="text"].sf_hideInput{
    font-weight: 500;
    font-family: Verdana;
    background-color: #f0fff0;
    font-size: 12px;
    text-align: center;
    width: 50px;
    border-style: none;
}

/* Стили каледнаря */
#sf_calendar tr{
    border: none;
}
#sf_calendar td{
    text-align: center;
    height: 20px;
    border: solid 1px #339933;
    padding: 5px;
}
#sf_calendar td[type="day"]:hover, #sf_calendar td[type="control"]:hover{
    background: #D8E8D8;
    cursor: pointer;
}
span[type="calendarCall"]{
    cursor: pointer;
}
span[type="checkAll"]{
    float: right;
    font-size: 9px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 5px;
}

/* Конеткстное меню */
#sf_contextMenu{
    position: absolute;
}
#sf_contextMenu > ul[type]{
    display: none;
}
#sf_contextMenu.themes > ul[type="themes"]{
    display: block;
}
#sf_contextMenu.stats > ul[type="stats"]{
    display: block;
}
#sf_contextMenu.bl > ul[type="bl"]{
    display: block;
}
#sf_contextMenu ul{
    margin: 0;
    padding: 0 0 0 25px;
    cursor: context-menu;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
    background-color: #f0fff0;
    border: solid 1px;
    box-sizing: border-box;
}
#sf_contextMenu li.parent{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHCAMAAAAYuxziAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAGUExURQAzAAAAAEPme5kAAAACdFJOU/8A5bcwSgAAAB1JREFUeNpiYGBkZGRgYAATDGCCAcYCiQFlAQIMAADrAA1gGCQCAAAAAElFTkSuQmCC");
    background-position: 95% center;
    background-repeat: no-repeat;
}
#sf_contextMenu ul li {
    border-top: solid 1px #c0c0c0;
    border-left: solid 1px #c0c0c0;
    padding: 0 0 0 15px;
    list-style: none;
    height: 30px;
    overflow: visible;
    width: 180px;
    line-height: 30px;
}
#sf_contextMenu ul li:first-child{
    border-top: none;
}
#sf_contextMenu ul li ul {
    display: none;
}
#sf_contextMenu ul li:hover{
    position: relative;
}
#sf_contextMenu li > span{
    padding-left: 40px;
    left: -40px;
    top: 1px;
    width: 177px;
    height: 26px;
    display: block;
    position: relative;
    line-height: 26px;
    border: 1px solid transparent;
    background-color: transparent;
}
#sf_contextMenu li > span:hover{
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(225, 247, 225, 0.5);
}
#sf_contextMenu ul li:hover > ul{
    position: absolute;
    display: block;
    left: 98%;
    top: -1px;
}
input.v-middle{
    vertical-align: -3px;
}
input.v-middle-2{
    vertical-align: -2px;
}

#sf_writesWindow div[style*="max-height"] > table tr:first-child td{
    border-top-style: none;
}
#sf_writesWindow div[style*="max-height"] > table tr:last-child td{
    border-bottom-style: none;
}